body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

video {
    width: 300px; 
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
    margin-bottom: 10px;
}

.result {
    font-size: 20px;
    margin-top: 10px;
    min-height: 24px; /* Asegura que el contenedor tenga un tamaño fijo */
}

img {
    width: 300px;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
    margin-bottom: 10px;
    display: none; /* Inicialmente oculta */
}

.slider-container {
    margin-top: 20px;
}

.captured-image {
    max-width: 100%;
    height: auto;
}